@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --body-color: rgb(250, 250, 250);
    --color-white: rgb(255, 255, 255);

    --text-color-second: rgb(68, 68, 68);
    --text-color-third: rgb(30, 159, 171);

    --first-color: rgb(110, 87, 224);
    --first-color-hover: rgb(40, 91, 212);

    --second-color: rgb(0, 201, 255);
    --third-color: rgb(192, 166, 49);
    --first-shadow-color: rgba(0, 0, 0, 0.1);

}

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar{
    width: 10px;
    border-radius: 25px;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover{
    background: #bbb;
}

html{
    scroll-behavior: smooth;
}

body{
    background: var(--body-color);
}


/* ----- MAIN ----- */

.principal {
    padding-inline: 10vw;
}

/* ----- FEATURED BOX ----- */
.inicio{
    position: relative;
    display: flex;
    height: 80vh;
    min-height: 700px;
}

/* ----- CARDS ----- */
.texto{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 80vh;
    flex-direction: column;
    width: 50%;
    padding-left: 20px;
}
.card-texto span{
    background: var(--third-color);
    color: var(--color-white);
    padding: 3px 8px;
    font-size: 16px;
    border-radius: 5px;
}
.card-type {
    font-size: 50px;
    font-weight: 600;
    color: var(--text-color-second);
    margin-block: 20px;
}
.typedText{
    text-transform: capitalize;
    color: var(--text-color-third);
}
.card-info{
    font-size: 15px;
    margin-bottom: 30px;
    color: var(--text-color-second);
}
.card-btn{
    display: flex;
    gap: 20px;
}

.btn-sobre{
    background-color: var(--first-color);
    color: white;
    transition: .3s;
}
.btn-sobre:hover{
    background-color: var(--first-color-hover);
}

.btn-baixar{
    background-color: #efefef;
    color: #000;
    transition: .3s;
}
.btn-baixar:hover{
    background-color: var(--second-color);
    color: var(--color-white);
}
.btn-sobre, .btn-baixar {
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.card-social{
    display: flex;
    gap: 20px;
}
.social-link{
    text-decoration: none;
    color: var(--text-color-second);
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
}

.social-link:hover{
    transform: scale(1.1);
    transition: transform 0.3s;
}

.social-link i{
    font-size: 30px;
}




.social_icons{
    display: flex;
    margin-top: 5em;
    gap: 30px;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.icon:hover{
    color: var(--first-color);
}

/* ----- FEATURED IMAGE BOX ----- */
.featured-image{
    display: flex;
    justify-content: right;
    align-content: center;
    min-height: 80vh;
    width: 50%;
}
.image{
    margin: auto 0;
    width: 380px;
    height: 380px;
    border-radius: 55% 45% 55% 45%;
    overflow: hidden;
    animation: imgFloat 7s ease-in-out infinite;
}
.image img{
    width: 380px;
    height: 380px;
    object-fit: cover;
}
@keyframes imgFloat {
    50%{
        transform: translateY(10px);
        border-radius: 45% 55% 45% 55%;
    }
}

.scroll-btn{
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 50px;
    gap: 5px;
    text-decoration: none;
    color: var(--text-color-second);
    background: var(--color-white);
    border-radius: 30px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
 }
 .scroll-btn i{
     font-size: 20px;
 }

 /* ----- MAIN BOX ----- */
.section{
    padding-block: 5em;
}
.row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 50px;
}
.col{
    display: flex;
    width: 50%;
}

/* -- ## --- RESUABLE CSS -- ## -- */
.top-header{
    text-align: center;
    margin-bottom: 5em;
}
.top-header h1{
    font-weight: 600;
    color: var(--text-color-second);
    margin-bottom: 10px;
}
.top-header span{
    color: #999;
}
h3{
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color-second);
    margin-bottom: 15px;
}
